<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fab fa-spotify"></i> Spotify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item px-3">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item px-3">
          <a routerLink="/about" class="nav-link">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

